extends layout

block content
  #user(data-user=JSON.stringify(user))
  #wrapper
    #content
      img.shake-to-throw(src='images/bomb_message.jpg', width='100%', style="margin-top: 100px;")
      p.thank-you Thank You!
  script(src='/javascripts/player.js')