extends layout

block content
	h1= title
	p Welcome to #{title}
	#content_wrapper
		img(src='images/index/usage.jpg', width='100%')
	
		#btn_box
			a(id='fb_btn', href='/auth/twitter')
				img(src='images/index/tw_btn.jpg', width='95%')