extends layout

block content
  #content_wrapper
    //- img(src='images/usage.jpg', width='100%')
    #content
      p.connect CONNECT WITH
      #btn_box
        a(id='tw_btn', href='/auth/twitter')
          img(src='images/tw_btn.jpg', width='95%')