body {
  margin: 0px;
  background-color: #000000;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#componet {
  background-color: #cccccc;
  padding: 10px;
  margin: 10px;
  color: #000000;
}

#section {
  padding: 10px;
  color: #000000;
}

#user   {
  visibility:hidden;
}

#wrapper{
  color: #000000;
}

#content {

}

#content_wrapper{
  width:100%;
}

#content {
  vertical-align: middle;
  padding-top: 50%;
}

#btn_box {
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

p.connect {
  color: #ffffff;
  text-align: center;
  font-size: 48px;
}

#tw_btn {
  margin: 20px;
}
